<div id='group_input'>
  <div class='content'>

    <h7>GROUPS</h7>
    </br></br></br></br>

    <% if @current_group_count > 0 %>
    <%= select_tag "groups_select", options_from_collection_for_select(current_user.groups, "id", "group_name") %>
      </br></br>
      <%= link_to "Edit Group", nil, id: nil,class: 'edit_group_button' %>
      <%else%>
    <h5> You need to create at least 1 group</h5>
    <% end%>
    </br></br></br></br></br></br>

    <%= form_for @group, :url => {:controller => "groups", :action => "create", :method => "post" } do|f| %>
      <%=f.text_field :group_name%>
      <%= f.submit "Create Group"%>
      <%=label_tag @group.errors.full_messages.first,nil, class: 'error' if @group.errors.any? %>
    <% end %>
  </div>
</div>