<% if user_signed_in? %>
    <div id="menu">
      <ul>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Show Bills", bills_path %></li>
        <li><%= link_to "Create Bill", root_path %></li>
        <li><%= link_to "Tags", new_tag_path %></li>
        <li><%= link_to "Config", edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
<% end %>