<div id='bill_input'>
  <div class='content'>
    <h5> Logged in as <%= current_user.email %> </h5>
    <%= submit_tag "Add tags", id: :add_tags, class: 'btn-primary btn' %>
  </div>
</div>

<div id='tags_container' class='tags-container jumbotron'>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>
  <%= submit_tag "Tag1", class: 'btn-primary btn tag'%>

  </br>
  <%= submit_tag "Done", class: 'btn-primary btn'%>
  <%= submit_tag "Back", class: 'back btn-primary btn' %>

</div>