<div id='bill_input'>
  <div class='content'>
    <h5> Create new bill</h5>
    <%= submit_tag "Add/Remove tags", id: :add_tags, class: 'btn-primary btn' %>

    <%= form_tag(bills_path) do %>
      <div id='selected_tags_container' class='jumbotron'></div>
      </br>
      <%= label_tag "Total:" %> <%= number_field_tag "total"%>
      </br>
      <%= label_tag "Description:" %> <%= text_field_tag "description"%>
      </br>
      <%= submit_tag "Submit", class: 'btn-primary btn' %>
    <% end %>
  </div>
</div>

<div id="hidden_input_line" hidden="hidden">
  <%= submit_tag "no value", class: 'btn-primary btn tag'%>
  <%= number_field_tag nil, nil, step: 0.01 %>
  <%= collection_select(nil, :user, User.all, :id, :email) %>
  </br>
</div>

<div id='tags_container' class='tags-container jumbotron'>
  <% current_user.tags.each do |t| %>
    <%= submit_tag t.description, class: 'btn-primary btn tag', tag_id: t.id, default_user_id: current_user.id %>
  <% end %>
  </br>
  <%= submit_tag "Done", class: 'done btn-primary btn'%>


</div>