<div id='tags_input'>
  <div class='content'>
    <h5> Tags </h5>
    <div id='user_tags_container' class='user_tags-container jumbotron'>
      <%= form_tag destroy_multiple_tags_path, method: :delete do %>
        <% current_user.tags.each do |t| %>
          <%= label_tag t.description,nil, class: 'btn-primary btn select_tags', tag_id: t.id %>
        <% end %>
        <%= hidden_field_tag :tag_ids, nil %>
    </div>
        <%= submit_tag "Delete selected tags", class: 'btn-primary btn delete_all'%>
      <% end %>

      <%= form_for :tag, :url => {:controller => "tags", :action => "create", :method => "post" } do|f| %>
        <%= f.label :description%>
        <%=f.text_field :description%>
        <%= f.submit "Create Tag"%>
        <%=label_tag @tag.errors.full_messages.first,nil, class: 'error' if @tag.errors.any? %>
    <% end %>
  </div>
</div>